<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">


        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information & User image-->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-800 small">
                    <strong style="font-size: 17px; font-weight: 600;  "><%= user.name %></strong>
                </span>
                <img class="img-profile rounded-circle" src="/img/undraw_profile.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#empProfileModal">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <strong style="font-size: 15px; font-weight: 500;  ">Edit Profile</strong>
                </a>
                <!-- <a class="dropdown-item" href="#"> -->
                    <!-- <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> -->
                    <!-- <strong style="font-size: 15px; font-weight: 400; font-family: Ubuntu; ">Settings</strong> -->
                <!-- </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    <strong style="font-size: 15px; font-weight: 500;  ">Logout</strong>
                </a>
            </div>
        </li>
    </ul>
</nav>
<!-- End of Topbar -->


<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select <strong>"Logout"</strong> below if you are ready to end your
                current
                session. </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/users/logout">Logout</a>
            </div>
        </div>
    </div>
</div>


<!-- Employee Profile Modal -->
<div class="modal fade" id="empProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">User Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/empprofiles/profile/<%= user._id %>/edit?_method=PUT">
                <div class="form-row">
                <div class="form-group col-md-7">
                    <label for="inputFirstName"><b>Full Name: </b></label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" >
                    </div>
                  
                  <div class="form-group col-md-5">
                    <label for="inputEmail4"><b>Employee No.: </b></label>
                    <input type="text" class="form-control" id="empNo" name="empNo" value="<%= user.empNo %>" >
                  </div>
                  
                </div>
                <div class="form-row">

                  <div class="form-group col-md-6">
                    <label for=email><b>Email Address:</b> </label>
                    <input type="text" class="form-control" id="email" name="email" value="<%= user.email %>" disabled>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="department"><b>Department:</b></label>
                    <select id="department" name="department" class="form-control">
                      <option selected><%= user.department %></option>
                      <option value="Management">Management</option>
                      <option value="Human Resources">Human Resources</option>
                      <option value="Local Sales & Admin">Local Sales & Admin</option>
                      <option value="Export Sales & Admin">Export Sales & Admin</option>
                      <option value="Procurement">Procurement</option>
                      <option value="Production">Production</option>
                      <option value="Account & Finance">Account & Finance</option>
                      <option value="Design">Design</option>
                      <option value="Warehouse & Sampling">Warehouse & Sampling</option>
                      <option value="Information Technology">Information Technology</option>
                    </select>
                  </div>
                

                </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>